build/
local/
*.pyc
/src/include/core/config.h
/CMakeLists.txt.user
external/libs/boost/include/boost/

# Apple platform
src/apple/iOS/Sample/iOSSample/iOSSample.xcodeproj/project.xcworkspace/xcuserdata
src/apple/iOS/Sample/iOSSample/iOSSample.xcodeproj/xcuserdata
src/apple/macOS/Sample/macOSSample/macOSSample.xcodeproj/project.xcworkspace/xcuserdata
src/apple/macOS/Sample/macOSSample/macOSSample.xcodeproj/xcuserdata
.swiftpm/xcode/package.xcworkspace/xcuserdata
.swiftpm/xcode/xcuserdata
.build
Package.resolved
